.cardContainer {
  width: 12rem;
  height: 9rem;
}

.todoCard {
  min-height: 5rem;
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 0.5rem;
}

.yellowCard {
  background-color: var(--yellow);
  border: 1px solid var(--yellowBorder);
}

.greenCard {
  background-color: var(--green);
  border: 1px solid var(--greenBorder);
}

.pinkCard {
  background-color: var(--pink);
  border: 1px solid var(--pinkBorder);
}

.purpleCard {
  background-color: var(--purple);
  border: 1px solid var(--purpleBorder);
}

.blueCard {
  background-color: var(--blue);
  border: 1px solid var(--blueBorder);
}

.greyCard {
  background-color: var(--grey);
  border: 1px solid var(--greyBorder);
}

.checkMark {
  appearance: none;
  background-color: #eee;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid #adb8c0;
  position: relative;
  bottom: 0.5rem;
  right: 0.5rem;
}

.checkMark:active,
.checkMark:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checkMark:checked {
  background-color: #13d313;
  border: 1px solid #087208;
  color: #99a1a7;
}

.checkMark:checked:after {
  content: "\2714";
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
}

.todoText {
  resize: none;
  max-width: calc(100% - 1.5rem);
  max-height: fit-content;
  border: none;
  align-self: center;
}

.colorSelector {
  border: none;
  border-radius: 1rem;
  height: 1.2rem;
  width: 1.2rem;
  cursor: pointer;
}

.colorSelector:hover {
  border: 1px solid #222;
  scale: 1.1;
}

.colorsContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  top: 2rem;
  left: 1.5rem;
}

.yellowBtn {
  border: 1px solid var(--yellowBorder);
  background-color: var(--yellow);
}

.yellowBtn:active {
  border: 1px solid var(--yellowBorder);
  scale: 1;
}

.greenBtn {
  border: 1px solid var(--greenBorder);
  background-color: var(--green);
}

.greenBtn:active {
  border: 1px solid var(--greenBorder);
  scale: 1;
}

.pinkBtn {
  border: 1px solid var(--pinkBorder);
  background-color: var(--pink);
}

.pinkBtn:active {
  border: 1px solid var(--pinkBorder);
  scale: 1;
}

.purpleBtn {
  border: 1px solid var(--purpleBorder);
  background-color: var(--purple);
}

.purpleBtn:active {
  border: 1px solid var(--purpleBorder);
  scale: 1;
}

.blueBtn {
  border: 1px solid var(--blueBorder);
  background-color: var(--blue);
}

.blueBtn:active {
  border: 1px solid var(--blueBorder);
  scale: 1;
}

.greyBtn {
  border: 1px solid var(--greyBorder);
  background-color: var(--grey);
}

.greyBtn:active {
  border: 1px solid var(--greyBorder);
  scale: 1;
}
