.colorSelector {
  border: none;
  border-radius: 1rem;
  height: 1.2rem;
  width: 1.2rem;
}

.colorSelector:hover {
  border: 1px solid #222;
  scale: 1.1;
}

.colorsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.yellowBtn {
  border: 1px solid var(--yellowBorder);
  background-color: var(--yellow);
}

.yellowBtn:active {
  border: 1px solid var(--yellowBorder);
  scale: 1;
}

.greenBtn {
  border: 1px solid var(--greenBorder);
  background-color: var(--green);
}

.greenBtn:active {
  border: 1px solid var(--greenBorder);
  scale: 1;
}

.pinkBtn {
  border: 1px solid var(--pinkBorder);
  background-color: var(--pink);
}

.pinkBtn:active {
  border: 1px solid var(--pinkBorder);
  scale: 1;
}

.purpleBtn {
  border: 1px solid var(--purpleBorder);
  background-color: var(--purple);
}

.purpleBtn:active {
  border: 1px solid var(--purpleBorder);
  scale: 1;
}

.blueBtn {
  border: 1px solid var(--blueBorder);
  background-color: var(--blue);
}

.blueBtn:active {
  border: 1px solid var(--blueBorder);
  scale: 1;
}

.greyBtn {
  border: 1px solid var(--greyBorder);
  background-color: var(--grey);
}

.greyBtn:active {
  border: 1px solid var(--greyBorder);
  scale: 1;
}
