.navTodoContainer {
  display: flex;
  justify-content: space-around;

  width: 100%;
}

.navTodoCardBtn {
  height: 2rem;
  width: 2rem;
  scale: 1.2;
  border: none;
  background-color: transparent;
}

.navTodoCardBtn:hover {
  scale: 1.4;
  transition: 0.5s;
  transform: rotateY(360deg);
}
