* {
  font-family: "Comfortaa", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --yellow: #e6b905;
  --green: #6fd262;
  --pink: #ea86c2;
  --purple: #c78eff;
  --blue: #5ac0e7;
  --grey: #aaaaaa;

  --yellowBorder: #bd9805;
  --greenBorder: #509746;
  --pinkBorder: #bd6c9d;
  --purpleBorder: #9d70c9;
  --blueBorder: #4a9dbd;
  --greyBorder: #868686;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-width: 320px;
  min-height: 100vh;
}
